cloudpickle
imbalanced-learn
joblib
llvmlite
numba
numpy
pandas
patsy
pytz
scikit-learn
scipy
seaborn
shap
statsmodels
threadpoolctl
tqdm
typing_extensions
tzdata

# Plotting
matplotlib

# ML libraries
xgboost
lightgbm
catboost

# GUI (only keep if you actually use it)
PyQt6
